html{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(255, 201, 228);
}

img {
    width: 1200px;
    height: 900px;
}

.header {
    color: rgb(253, 253, 55);
}

h1.header {

}