body {
    background-color: rgb(170, 211, 170);
}

h1 {
    font-size: 6.25rem;
}

h1, h2, h3, ul, ol {
    margin-bottom: 50px;
    text-align: center;
}

.image {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

#returnButton {
    display:inline-block;
    box-sizing: border-box;
    inline-size: 10rem;
    block-size: 4rem;
    background-color: #2e8b57;
    border: none;
    font-size: 1rem;
}

div {
  align-items: center;
  text-align: center;
  margin: 7rem 30rem 4rem;
}

h1:hover {
  font-size: 7rem;
  transition-duration: 0.4s; 
  color: #2e8b57;
}

#returnButton:hover {
  cursor: pointer;
  inline-size: 14rem;
  block-size: 5.6rem;

  transition-duration: 0.7s;
}


