
h1, .lasagna {
    font-weight: 800;
    text-align: center;
    background-image: linear-gradient(to right, rgba(000, 255, 000, 1), rgba(255, 255, 255, 1), rgba(255, 000, 000, 1) );
    display: block;
}

h1 {
    padding: 40px;
   /* margin: 30px;*/ 
    font-size: 80px;
}

h2 {
    text-align: center;
    color: rgba(000, 000, 000, 1);
    margin-top: 40px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 1000px;
    height: auto;
}

ul, ol {
    display: block;
    text-align: center;
    margin-left: 70px;
    margin-right: 40px;
    padding-left: 300px;
    padding-right: 300px;
    /*inline-size: auto;*/
}

.lasagna {
    margin-top: 30px;
    background-size: 750px 21500px;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 310px;
    margin-right: 50px;
    width: 800px;
}

#one, #two {
  display:inline-block;
  width: 400px;
  height: auto;
  padding-left: 440px;
}


.return.button {
    text-align: left;
}
