html {
    font-size: 16px;
}

body {
    background-color: rgb(247, 199, 182);
    font-family: 'Poppins', sans-serif; 
}
 
img {
    width: 1056.75px;
    height: 792.65px;
}

.header{
   color: rgb(114, 158, 240); 
}

h1 {
    font-size: 3em;
}