html {
    font-size: 16px;
    box-sizing: border-box;
    max-width: 1450px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F0F8FF;
}

ul, 
a,
a:visited {
    list-style-type: none;
    text-decoration: none;
    color: #6495ED;
}

.header, .content {
    max-width: 1400px;
}

.header.master {
    margin: 5px auto;
    max-height: 150px;
    padding: 45px 40px 35px 40px;
}

.header.signature {
    font-size: 1em;
    width: 135px;
    vertical-align: text-top;
    margin-left: 650px;
}

.header.first {
    vertical-align: middle;
    font-size: 5rem;
}

.first, .signature {
    margin: 0;
}

ul li {
    margin: 10px;
    border: 2px solid red;
}

.first, .signature, ul li {
    display: inline-block;
}

.list-container {
    border: 2px solid red;

}

ul li, .list-container {

}

.content {
  max-height: 700px;
  height: 500px;
  border: 2px solid red;
  padding: 20px;
}



