body {
    background-color: #fff8dc;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
}


h1 {
    box-sizing: border-box;
    background-color: #ff7f50;
    block-size: 180px;
    padding-block-start: 120px;
    padding-inline-start: 20px;
    font-size: 30px; 
    color: #fff8dc;
}



